.container.pt
  .row.mt
    .col-lg-6.col-lg-offset-3.centered
      %h3 SIGN UP
      %hr
        %p Landlords should be able to designate themselves as such
  .row.mt
    .col-lg-8.col-lg-offset-2
      = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
        = devise_error_messages!
        .form-group
          = f.label :name, class: 'control-label'
          %br/
          = f.text_field :name, autofocus: true, class: 'form-control'
        .form-group
          = f.label :phone, class: 'control-label'
          %br/
          = f.text_field :phone, class: 'form-control'
        .form-group
          = f.label :mailing_address, class: 'control-label'
          %br/
          = f.text_field :mailing_address, class: 'form-control'
        .form-group
          = f.label :email, class: 'control-label'
          %br/
          = f.email_field :email, autofocus: true, class: 'form-control'
        .form-group
          = f.label :password, class: 'control-label'
          - if @validatable
            %i
              (#{@minimum_password_length} characters minimum)
          %br/
          = f.password_field :password, autocomplete: "off", class: 'form-control'
        .form-group
          = f.label :password_confirmation, class: 'control-label'
          %br/
          = f.password_field :password_confirmation, autocomplete: "off", class: 'form-control'
        .form-group= f.submit "Sign up", class: 'btn btn-success'
      = render "devise/shared/links"
      