.container
  .row
    .col-md-12.centered
      %h4
        Rentals Managed By Our Landladies
  - @rentals.each do |rental|
    %br
    - markers = "#{rental.latitude}%2C#{rental.longitude}&"
    .row
      .col-md-4
        %strong
          = link_to rental.address.upcase, rental_path(rental), :class => "btn"
      .col-md-2
        - if current_user.try(:admin?)
          = link_to "Edit", edit_rental_path(rental), :class=> "btn btn-xs"
          = link_to "Delete", rental_path(rental), method: :delete, :class=>"btn btn-xs"
      .col-md-6.centered
        .google-maps
          %iframe{:frameborder => "0", :height => "450", :src => "https://www.google.com/maps/embed/v1/place?q=#{markers}&key=AIzaSyAQnuVfqaXy-1fiSaAYXDi2Wh39lanrHv4", :style => "border:0", :width => "600"}