- markers = "#{@rental.latitude}%2C#{@rental.longitude}&"
.col-md-6
  %strong
  =@rental.address
  |
  =@rental.description
.col-md-6
  = image_tag "http://maps.google.com/maps/api/staticmap?size=200x200&sensor=false&markers=#{markers}"
.col-md-12
  %em
    Repairs @ this property: 
  %br
  - @rental.repairs.each do |repair|
    - if current_user.try(:admin?)
      = link_to "Edit", edit_rental_repair_path(@rental, repair), :class=> "btn btn-info btn-xs"
      = link_to "Delete", rental_repair_path(repair), method: :delete, :class=>"btn btn-danger btn-xs"
    %em
      = repair.category
      = repair.description
      = repair.state

= link_to "Back", rentals_path, :class=>"btn btn-default btn-xs"