.container
  .row
    .col-lg-12.centered
      %h4
        All Repairs New and Otherwise
      %br
  - @repairs.each do |repair|
    .row
      .col-lg-6
        %strong
          = repair.rental.address
        %em
          = repair.category
        |
        = repair.description
      .col-lg-2
        %strong 
          = repair.workflow_state
      .col-lg-2
        - if repair.workflow_state != "fixed"
          = link_to "Fix!", fix_rental_repair_path(repair.rental_id, repair, location: 'index'), method: :put, :class=> "btn btn-xs"
        - if ['new', 'delayed'].include?(repair.workflow_state)
          = link_to "Schedule!", schedule_rental_repair_path(repair.rental_id, repair, location: 'index'), method: :put, :class=> "btn btn-xs"
        - if repair.workflow_state == "scheduled"
          = link_to "Delay!", delay_rental_repair_path(repair.rental_id, repair, location: 'index'), method: :put, :class=> "btn btn-xs"
      .col-lg-2
        - if current_user.try(:admin?)
          = link_to "Edit", edit_rental_repair_path(repair.rental_id, repair, location: 'index'), :class=> "btn btn-xs"
          = link_to "Delete", rental_repair_path(repair.rental_id, repair, location: 'index'), method: :delete, :class=>"btn btn-xs"
        %br