!!!
//= require jquery
//= require jquery_ujs
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}
    %meta{:content => "", :name => "description"}
    %meta{:content => "Will Fisher", :name => "author"}
    %title Little Old Landlady
    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
    = favicon_link_tag 'favicon.ico'
  %body{:role => "document"}
    / Fixed navbar
    .navbar.navbar-inverse.navbar-static-top
      .container
        .navbar-header
          %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", :type => "button"}
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          = link_to "Little Old LandLady", root_path, class: "navbar-brand #{'active' if current_page?(root_path)}"
        .navbar-collapse.collapse
          %ul.nav.navbar-nav.navbar-right
            - if current_user.nil?
              %li
                =link_to "Rental Properties", rentals_path
            - if current_user && !current_user.admin?
              %li
                = link_to "My Home", rental_path(current_user.rental_id)
            - if current_user.try(:admin?)
              %li.dropdown
                %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
                  Rentals
                  %b.caret
                %ul.dropdown-menu
                  %li
                    = link_to "All Rentals", rentals_path
                  %li
                    = link_to "New Rental", new_rental_path
              %li.dropdown
                %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
                  Repairs
                  %b.caret
                %ul.dropdown-menu
                  %li
                    = link_to "All Repairs", repairs_path
            - if current_user
              %li
                = link_to "#{current_user.email}", edit_user_registration_path
              %li
                = link_to "Logout", destroy_user_session_path, method: :delete
            - else
              %li
                = link_to "Register", new_user_registration_path
              %li
                = link_to "Login", new_user_session_path
            / %li
            /   %a{:href => "about.html"} About
            / %li
            /   %a{:href => "blog.html"} Blog
            / %li
            /   %a{:href => "contact.html"} Contact
    - if notice || alert
      %p.notice= notice
      %p.alert= alert
    = yield
#footer
  .container
    .row
      - if current_user.nil? || current_user.try(:admin?)
        .col-lg-4
          %h4 Technical Assistance
          %p
            Will Fisher
            %br/
            = mail_to "willcfisherjr@gmail.com", "willcfisherjr@gmail.com"
      - elsif
        - home = Rental.find(current_user.rental_id)
        - landlord_name = User.find(home.landlord_id).name
        - landlord_address = User.find(home.landlord_id).mailing_address
        .col-lg-4
          %h4 My Landlord:
          %p
            = landlord_name
            %br
            = landlord_address
      .col-lg-4
        %h4 Useful Links
        %p
          = link_to "Angie's List", "http://www.angieslist.com/"
          %br
          = link_to "Will Fisher", "http://gtlaserbeast.github.io"
          %br
          = link_to "This Old House", "http://www.thisoldhouse.com/toh/"
      .col-lg-4
        %h4 About LittleOldLandlady
        %p An application designed to streamline the process of managing rental properties.
    / .row
    /   .col-lg-4.col-lg-offset-4
    /     %h6(style='color: white;')
    /       Created by Will C. Fisher, Jr.